*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
    font-family: "Noto Sans", "Poppins", sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-color: #F4F7FA;
}